<html>
  <head>
    <title>Clock Demo</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <div id="app">
      {{actualTime}}<br/>
      <div v-for="s in nbHrsG" class="dot green"></div><div v-for="s in nbHrsR" class="dot red"></div><br/>
      <div v-for="s in nbMinG" class="dot green"></div><div v-for="s in nbMinR" class="dot red"></div><br/>
      <div v-for="s in nbSecG" class="dot green"></div><div v-for="s in nbSecR" class="dot red"></div>
    </div>
    <script src="js/app.js"></script>
  </body>
</html>
